<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920px"/>
    <title>首页</title>
    <script type="text/javascript" src="../vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../edit_article.css">
    <link rel="shortcut icon" href="../resource/favicon64.ico">
    <style>
        .my_ul{
            margin-left: 18.2%;
            height: 50px;
        }
        .my_ul li{
            float: left;
            margin-right: 8%;
            font-size: 40px;
            color: white;
            List-style-type: none;
            Letter-spacing:20px;
            font-weight: 300;
        }
        @media screen and (max-width:1200px){
            .my_ul{
                margin-left: 10%;
                height: 50px;
            }
            .my_ul li{
                float: left;
                margin-right: 8%;
                font-size: 40px;
                color: white;
                List-style-type: none;
                Letter-spacing:10px;
            }
        }
    </style>
</head>

<body>
    <div id="root">
        <div id="top_menu">
            <top_menu></top_menu>
        </div>
        <div class="article">
            <div style="margin: 20px;padding: 10px;background-color: rgba(68, 151, 239, 0.809);width: 90%;padding-left: 5%;">
                <h1 style="text-align: center;color: white;margin-bottom: 25px;font-size: 45px;font-weight: 500;">哈尔滨工业大学-游戏开发社团</h1>
                <ul class="my_ul">
                    <li>创新</li>
                    <li>|</li>
                    <li>创作</li>
                    <li>|</li>
                    <li>创享</li>
                </ul>
                <div style="font-size: x-large;text-align: center;color:white;margin-top: 5px;">今天已有{{today_visit_ip}}人{{today_visit_time}}次访问了网站首页</div>
                <div style="font-size: large;font-weight: 100;text-align: center;color:white;margin-top: 5px;width: 91%;">
                    这里是哈尔滨工业大学游戏开发社团的网站，你可以在这里查看别人分享的自制游戏、寻找适合自己加入的项目/团队，也可以分享自己的游戏DEMO、发布寻找开发伙伴的文章。欢迎你的到来！衷心希望你能在这里找到你所期望的。
                </div>

            </div>
            <div class="p_div">
                <div class="s_kind_div">
                    <span>公告</span>
                    <span style="float: right;margin-right: 5px;font-size: large;">
                        <a href="../announcement/guide.html">更多</a>
                    </span>
                </div> 
                <div class="text_div">
                    <div v-for="(p,index) of announcement" :key="index" class="list_div">
                        <span style="float: right;margin-right: 5px;font-size: medium;color:rgb(90, 91, 91)">{{p.create_time}}</span>
                        <a :href="'../announcement/article.html?articleID='+p.articleID">{{p.title}}</a>
                    </div>
                </div>
            </div>
            <div class="p_div">
                <div class="s_kind_div">
                    <span>优秀DEMO</span>
                    <span style="float: right;margin-right: 5px;font-size: large;">
                        <a href="../demo/guide.html">更多</a>
                    </span>
                </div> 
                <div class="text_div">
                    <div v-for="(p,index) of best_demo" :key="index" class="list_div">
                        <span style="float: right;margin-right: 5px;font-size: medium;color:rgb(90, 91, 91)">{{p.create_time}}</span>
                        <span style="float: left;">{{p.level}}-{{p.name}}-</span>
                        <a :href="'../demo/demo.html?articleID='+p.articleID">{{p.title}}</a>
                    </div>
                </div>
            </div>
            <div class="p_div">
                <div class="s_kind_div">
                    <span>最新DEMO</span>
                    <span style="float: right;margin-right: 5px;font-size: large;">
                        <a href="../demo/guide.html">更多</a>
                    </span>
                </div> 
                <div class="text_div">
                    <div v-for="(p,index) of newest_demo" :key="index" class="list_div">
                        <span style="float: right;margin-right: 5px;font-size: medium;color:rgb(90, 91, 91)">{{p.create_time}}</span>
                        <span style="float: left;">{{p.name}}-</span>
                        <a :href="'../demo/demo.html?articleID='+p.articleID">{{p.title}}</a>
                    </div>
                </div>
            </div>
            <div class="p_div">
                <div class="s_kind_div">
                    <span>最新项目</span>
                    <span style="float: right;margin-right: 5px;font-size: large;">
                        <a href="../project/guide.html">更多</a>
                    </span>
                </div> 
                <div class="text_div">
                    <div v-for="(p,index) of newest_project" :key="index" class="list_div">
                        <span style="float: right;margin-right: 5px;font-size: medium;color:rgb(90, 91, 91)">{{p.create_time}}</span>
                        <span style="float: left;">{{p.name}}-</span>
                        <a :href="'../project/article.html?articleID='+p.articleID">{{p.title}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="../topMenu.js"></script>
    <script type="text/javascript" src="../reload_top_menu.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>

</html>