<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8"/>
		<title>文章</title>
        <script type="text/javascript" src="../vue.js"></script>
        <link rel="stylesheet" type="text/css" href="../style.css"> 
        <link rel="stylesheet" type="text/css" href="../edit_article.css"> 
        <link rel="shortcut icon" href="../resource/favicon64.ico">
    </head>
        <div id="root">
            <div id="top_menu">
                <top_menu></top_menu>
                <top_menu_shadow></top_menu_shadow>
            </div> 
            <div class="article">
                <h1>{{Data.title}}</h1>
                <div class="wide_picture_div"><img :src="Data.pic"></div>
                <p> 
                    <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;">作者</span>
                    {{Data.name}}
                    <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;margin-left: 15px;">参与者</span>
                    {{Data.participator}}
                    <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;margin-left: 15px;">评分</span>
                    {{Data.level}}
                    <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;margin-left: 15px;">点赞数</span>
                    {{article_thumbs_up_num}}
                    <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;margin-left: 15px;">阅读数</span>
                    {{Data.read_time}}
                    <a style="font-size: medium;color: rgb(83, 104, 107);" v-on:click="jump_to_panel">【阅读量统计图表】</a>
                </p>
                <div v-for="(p,index) of Data.data" :key="index">
                    <p v-if="p.kind=='p'" style="line-height: 1.9;margin-left: 20px;margin-right: 20px;">{{p.text}}</p>
                    <br v-if="p.kind=='br'">
                    <h1 v-if="p.kind=='h1'">{{p.text}}</h1>
                    <h2 v-if="p.kind=='h2'">{{p.text}}</h2>
                    <h3 v-if="p.kind=='h3'">{{p.text}}</h3>
                    <h4 v-if="p.kind=='h4'">{{p.text}}</h4>
                    <h5 v-if="p.kind=='h5'">{{p.text}}</h5>
                    <div v-if="p.kind=='url_s'"  class="small_picture_div" ><img :src="p.text"></div>
                    <div v-if="p.kind=='url_l'"  class="long_picture_div" ><img :src="p.text"></div>
                    <div v-if="p.kind=='url_w'"  class="wide_picture_div" ><img :src="p.text"></div>
                    <iframe v-if="p.kind=='bv'" :src="'//player.bilibili.com/player.html?bvid='+p.text+'&page=1&as_wide=1&high_quality=1&danmaku=0&t=0'" allowfullscreen="allowfullscreen" height="500" width="800px" scrolling="no" frameborder="0" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe>
                    <div v-if="p.kind=='bv'">视频原地址：<a :href="'//www.bilibili.com/video/'+p.text">https://www.bilibili.com/video/{{p.text}}</a></div>
                    <div v-if="p.kind=='a'"><a :href="p.text">{{p.text}}</a></div>
                </div>
                <div style="background-color: rgba(245, 244, 219, 0.541);">
                    <div>
                        <h1 style="color:rgb(105, 79, 20);margin-bottom: 2px;padding: 5px;">评论</h1>
                    </div>
                    <div>
                        <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;margin-left: 15px;">评分</span>
                        {{Data.level}}
                        <span style="color:rgb(14, 40, 72);font-size: large;font-weight: 600;margin-right: 5px;margin-left: 15px;">点赞数</span>
                        {{article_thumbs_up_num}}
                        <button v-on:click="thumbs_up_change_article"><span v-if="my_thumbs_up">取消</span>点赞</button>
                        <span v-if="user_level>=3" style="margin-left: 10px;">
                            管理员修改评分:<input type="text" v-model="new_article_level" style="width: 50px;">
                            <button v-on:click="set_article_level" style="color: brown;font-weight: 600;">修改</button>
                            <button v-on:click="op_change_article_status(1)" style="color: brown;">设置文章为草稿</button>
                            <button v-on:click="op_change_article_status(0)" style="color: brown;">设置文章为公开</button>
                        </span>
                    </div>
                    <div v-if="comment.length!=0">
                        <div  v-for="(p,index) of comment" :key="p.commentID" style="background-color: rgb(216, 216, 216);margin: 5px;width: 96%;">
                            <div style="background-color: rgba(236, 194, 126, 0.801);width: 100%;padding: 5px;font-size: large;font-weight: 500;">
                                {{p.name}}
                                <span style="float: right;font-size: medium;color: rgb(131, 149, 151);">
                                    <span v-if="user_level>=3">
                                        <button v-on:click="op_delete_comment(p.commentID)" style="color:rgb(149, 0, 0)">管理员删除</button>
                                    </span>
                                    <span v-if="p.userID==userID">
                                        <button v-on:click="delete_comment(p.commentID)">删除</button>
                                    </span>
                                    {{p.time}}
                                </span>
                            </div>
                            <div style="width: 100%;background-color:rgba(220, 220, 196, 0.89);padding: 5px;">
                                {{p.text}}
                            </div>
                        </div>
                    </div>
                    <div style="background-color: rgb(216, 216, 216);margin: 5px;width: 96%;">
                        <div style="background-color: rgb(238, 204, 150);width: 100%;padding: 5px;font-size: large;font-weight: 500;">
                            发布评论
                        </div>
                        <div style="width: 100%;background-color:rgba(245, 222, 179, 0.734);padding: 5px;">
                            <span style="color: rgb(165, 0, 0);" v-if="userID==''">
                                <a href="../user/reg.html" style="color: brown;font-weight: 600">注册</a>
                                /
                                <a href="../user/login.html" style="color: brown;font-weight: 600;">登录</a>
                                后才能发布评论
                                <br>
                            </span>
                            <textarea style="width: 98%;height: 100px;resize: none;font-size: medium;" v-model="new_comment"></textarea>
                            <button v-on:click="create_comment">评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script  type="text/javascript" src="../topMenu.js"></script>
        <script  type="text/javascript" src="../reload_top_menu.js"></script>
        <script  type="text/javascript" src="./demo.js"></script>
    </body>
</html>