<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8"/>
		<title>用户中心</title>
        <script type="text/javascript" src="../vue.js"></script>
        <link rel="stylesheet" type="text/css" href="../style.css"> 
        <link rel="stylesheet" type="text/css" href="../edit_article.css"> 
        <link rel="shortcut icon" href="../resource/favicon64.ico">
    </head>
    <body>
        <div id="root">
            <div id="top_menu">
                <top_menu></top_menu>
                <top_menu_shadow></top_menu_shadow>
            </div>
            <div class="article">
                <h1>用户中心</h1>
                <div class="p_div">
                    <div class="s_kind_div">
                        <span>DEMO文章</span>
                    </div>
                    <div class="text_div">
                        <a href="../demo/guide.html" class="medium_a">浏览demo文章</a>
                        <a href="../demo/create_demo.html" class="medium_a">创建demo文章</a>
                        <a href="../demo/my_demo_list.html" class="medium_a">我的demo文章</a>
                    </div>
                </div>
                <div class="p_div">
                    <div class="s_kind_div">
                        <span>团队招人文章</span>
                    </div>
                    <div class="text_div">
                        <a href="../project/guide.html" class="medium_a">浏览招人文章</a>
                        <a href="../project/create_article.html" class="medium_a">创建招人文章</a>
                        <a href="../project/my_article_list.html" class="medium_a">我的招人文章</a>
                    </div>
                </div>
                <div class="p_div">
                    <div class="s_kind_div">
                        <span>在线DEMO</span>
                    </div>
                    <div class="text_div">
                        <a href="../WebGL/guide.html" class="medium_a">浏览WebGL内容</a>
                        <a href="../WebGL/create_webgl.html" class="medium_a">上传WebGL内容</a>
                        <a href="../WebGL/my_webgl_list.html" class="medium_a">我的WebGL内容</a>
                    </div>
                </div>
                <div class="p_div" v-if="Data.level>=3">
                    <div class="s_kind_div">
                        <span>公告</span>
                    </div>
                    <div class="text_div">
                        <a href="../announcement/guide.html" class="medium_a">公告列表</a>
                        <a href="../announcement/create_article.html" class="medium_a">创建公告</a>
                        <a href="../announcement/my_article_list.html" class="medium_a">管理公告</a>
                    </div>
                </div>
                <div class="p_div" v-else>
                    <div class="s_kind_div">
                        <span>公告</span>
                    </div>
                    <div class="text_div">
                        <a href="../announcement/guide.html" class="medium_a">公告列表</a>
                    </div>
                </div>
    
                <div class="p_div" v-if="Data.level>=3">
                    <div class="s_kind_div">
                        <span>管理空间</span>
                    </div>
                    <div class="text_div">
                        <a href="../op/user_management.html" class="medium_a">用户管理</a>
                        <a href="../op/operate_list.html" class="medium_a">管理日志</a>
                        <a href="../op/index_show.html" class="medium_a">主页展示管理</a>
                        <a href="../op4/hand_level_4.html" class="medium_a" v-if="Data.level>=4">权限交接</a>
                    </div>
                </div>
                <div class="p_div">
                    <div class="s_kind_div">
                        <span>文档</span>
                    </div>
                    <div class="text_div">
                        <a href="../main/用户手册.html" class="medium_a">用户手册</a>
                        <a href="../main/user_agreement.html" class="medium_a">用户协议</a>
                        <a href="../main/前后端接口.html" class="medium_a">前后端接口</a>
                    </div>
                </div>
                <div class="p_div">
                    <div class="s_kind_div">
                        <span>其他</span>
                    </div>
                    <div class="text_div">
                        <a href="../main/web_panel.html" class="medium_a">网页访问统计</a>
                        <a href="../main/article_panel.html?articleID=1000005" class="medium_a">文章阅读统计</a>
                        <a href="../main/smms.html" class="medium_a">smms图床</a>
                        <a href="../main/about.html" class="medium_a">关于本站</a>
                    </div>
                </div>
                
            </div>
        </div>
        <script  type="text/javascript" src="./mycenter.js"></script>
        <script  type="text/javascript" src="../topMenu.js"></script>
        <script  type="text/javascript" src="../reload_top_menu.js"></script>
    </body>
</html>