.p_div{
    width:80%;
    margin-top: 10px;
    padding: 7px;
    background-color: rgb(247, 251, 255);
}

.kind_div{
    background-color: rgb(233, 230, 148);
    color: rgb(157, 120, 68);
    font-size: larger;
}
.s_kind_div{
    background-color: rgb(197, 224, 255);
    color: rgb(50, 89, 112);
    font-size: larger;
}
.text_div{
} 
select{
    color: rgb(87, 60, 14);
    font-size: large;
}
option{
    font-size: large;
}
textarea{
    width: 99%;
    font-size:large;
}
input{
    width: 99%;
    font-size: large;
}
button{
    font-size: medium;
    margin-left: 5px;
}
.small_input{
    width: 40px;
    font-size: medium;
}
.list_div{
    background-color: antiquewhite;
    padding: 5px;
    margin: 2px;
    width: 98%;
    font-size: larger;
}
.list_div a{
    color: rgb(106, 68, 12);
}