.p_div{
    width:90%;
    margin-top: 10px;
    padding: 7px;
    background-color: rgba(247, 251, 255, 0.699);
    margin-left: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.kind_div{
    background-color: rgb(233, 230, 148);
    color: rgb(157, 120, 68);
    font-size: larger;
}
.s_kind_div{
    background-color: rgba(197, 224, 255, 0.813);
    color: rgb(50, 89, 112);
    font-size: larger;
}
.text_div{
} 
select{
    color: rgb(87, 60, 14);
    font-size: large;
}
option{
    font-size: large;
}
textarea{
    width: 99%;
    font-size:large;
}
input{
    width: 99%;
    font-size: large;
}
button{
    font-size: medium;
    margin-left: 5px;
}
.small_input{
    width: 40px;
    font-size: medium;
}
.list_div{
    background-color: rgba(253, 245, 234, 0.63);
    padding: 5px;
    margin: 2px;
    width: 98%;
    font-size: larger;
}
.list_div a{
    color: rgb(106, 68, 12);
}